/* Estilo do ícone de chat */
.chat-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    cursor: pointer;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff77b5;
    border-radius: 50%;
}

.chat-icon img {
    width: 30px; /* Tamanho do ícone */
    height: 30px; /* Tamanho do ícone */
}

/* Estilo da janela do chat */
.chat-window {
    display: none; /* Inicialmente escondido */
    position: fixed;
    bottom: 80px;
    right: 20px;
    width: 100%;
    max-width: 400px;
    height: 60%;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    z-index: 9998;
    transition: all 0.3s ease;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
}

.chat-header {
    background-color: #ff77b5; /* Cor de fundo rosa */
    padding: 10px;
    color: white;
    text-align: center;
    border-radius: 10px 10px 0 0;
}

.chat-content {
    padding: 10px;
    height: calc(100% - 120px); /* Ajuste para a área de mensagem */
    overflow-y: auto;
    margin-bottom: 10px;
}

.chat-footer {
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: space-between;
}

.chat-footer input {
    width: 80%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.chat-footer button {
    padding: 5px 10px;
    background-color: #ff77b5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Botão de fechar */
#close-chat {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

/* Responsivo: Ajuste para telas menores */
@media (max-width: 600px) {
    .chat-window {
        width: 90%; /* Ajuste para ocupar 90% da largura da tela em dispositivos móveis */
        height: 70%; /* Aumenta a altura para dispositivos móveis */
        bottom: 60px; /* Ajuste a distância do fundo para não cobrir a tela */
    }

    .chat-icon {
        width: 50px; /* Ícone um pouco maior */
        height: 50px;
    }

    .chat-icon img {
        width: 25px; /* Ajusta o tamanho do ícone */
        height: 25px;
    }
}

/* Responsivo: Ajuste para telas pequenas (ex. smartphones) */
@media (max-width: 400px) {
    .chat-window {
        width: 100%;
        height: 75%;
        bottom: 50px;
    }

    .chat-footer {
        flex-direction: column; /* Coloca o botão de envio abaixo do input em telas pequenas */
        align-items: center;
    }

    .chat-footer input {
        width: 70%; /* Aumenta a largura do campo de texto em dispositivos móveis */
    }

    .chat-footer button {
        margin-top: 10px; /* Cria um espaçamento entre o botão de envio e o campo de texto */
        width: 70%; /* Ajusta o tamanho do botão */
    }
}
